*{
    font-family: 'Google Sans', sans-serif;
}
body{
}
/*
.bai {                
    text-align: justify;
    position: absolute;
    margin-top: 6%;
    margin-left: 5%;
    background-color: #fffa;
    border-radius: 1em;
    width: 90%;
    height: 150%; 
 }
*/
.bai{
    display: flex;

}

.gioithieu{
    width: 30%;
    background-color: white;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    position: fixed;
    height: 100%;
    border-right: 5px solid #ccc;

}
.gioithieu ul{
    list-style-type: none;
    text-align: left;
    padding-left: 20px;
    font-size: 17px;
}
.gioithieu a{
    font-size: 17px;
}

.gioithieu p{
    padding-left: 20px;
    margin-bottom: 5px;
}

.menu{
    width: 70%;
    background-color: white;
    padding-left: 30%;

}


.col {
    background-color: #a880b6;
    color: white;
    padding: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 20%;
    align-items: center;
    text-align: center;
    
    
  }
  
  .box {
    position: relative;
    display: inline-block;
    width: 10%;
    padding-left: 30px;
    padding-top: 20px;
    
    

  }
  
  .row {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;

  }
  
  .row a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
  }
  
  .row a:hover {background-color: #f1f1f1}
  
  .box:hover .row {
    display: block;
  }
  
  .box:hover .col {
    background-color: #693090;
  }



.gioithieu img{
    width:200px;
    height:200px;
    border-radius: 50%;
    align-items: center;
    vertical-align: middle;
    
    
    
}

h1{
    text-align: center;
}

a{
        display: flex;
                font-size: 30px;
                padding: 7px 0;
                text-align: center;
                text-decoration: none;
                color: black;
                margin-left: 5%;
                
            }
            a:hover{
                color: #00639b;
            }
            /*
            ul#main-menu .buoi{
                list-style: none;

            }
            ul#main-menu li:hover .buoi{
                display: flex;
                list-style: none;
            }