.box {
    background-color: palevioletred;
    max-width: 1000px;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    color: white;
    margin-top: 30px;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;

}

.box2 {
    display: inline-block;
    width: 300px;
    margin: 10px;
}

.box2 img {
    width: 300px;
    }