body {
            background-color: #009294;
        }
        p {
            color:#FFFFFF;
        }
        h1 {
            Background-color: yellow;
            Text-align: center;
        }
        h3 {
            Font-size: 16pt;
            Color: #FF0000;
        }
        ol {
            Border-style: dashed;
            Border-width: 4px;
            Border-color: blue;
        }
        li{
            text-decoration: none;
        }