body{
    background-color: white
    font-family: "Soure Sans Pro", san-serif;
}

.example{
    background-color: gray;
}

.box1{
    background-color: white;
}

.nextprev{
    width: 95%;
    height: 90px;
    margin-left: 2.5%;
    justify-content: space-between;
}

a {
    text-decoration: none; 
    color:white;  
    
    font-weight: bold;
    
    }

.left {
    width: 1200px;
    height: 500px;
    background-color: #059862;
    margin-top: 20px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
}

.right{
    width: 1200px;
    height: 50px;
    background-color: #059862;
    margin-top: 20px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
}


